

<div class="container">

  <%= render 'users/info', user: @user %>

</div>



<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <div>
    <p>Title</p>
    <p>Opinion</p>
  </div>

  <% @books.each do |book| %>
    <p><%= image_tag book.user.get_profile_image, size: '100x100' %></p>
    <p><%= link_to book.title, book_path(book.id) %></p>
    <p><%= book.opinion %></p>
  <% end %>
</div>
